{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block sheri %}

<!-- Login form -->
<div class="px-3 my-5">
    <div class="container py-3 border rounded shadow-lg" style="max-width: 568px;">
        <form class="p-4 p-sm-5" method="post">
            {% csrf_token %}
            <div class="text-center">
                <img width="130" src="{% static 'img/softmsg-logo.webp' %}" alt="Platform logo" class="mb-2">
                <h3 class="mb-3 text-dark">{% trans "Sign in to your account" %}</h3>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">
                    <i class="fa-solid fa-user"></i>
                    {% trans "Username" %}
                </label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    <i class="fa-solid fa-lock"></i>
                    {% trans "Password" %}
                </label>
                {{ form.password }}
            </div>

            <button class="btn btn-dark mx-auto d-block mb-3">
                {% trans "Login" %}
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>

            <!-- Button to go to the signup page -->
            <a href="{% url 'Signup' %}" class="btn btn-outline-primary mx-auto d-block">
               {% trans "Don't have an account? Create a new one" %}
            </a>
        </form>
    </div>
</div>
<!-- End login form -->

{% endblock sheri %}
