{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block sheri %}


 <!-- Sign up -->
 <div class="px-3 my-5">
    <div class="container py-3 border rounded shadow-lg" style="max-width: 568px;">
        <form class="p-4 p-sm-5" method='post'>
            {% csrf_token %}
            <div class="text-center">
                <img width="130" src="{% static 'img/softmsg-logo.webp' %}" alt="" class="mb-2">
                <h3 class="mb-3 text-dark">Create a new account</h3>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="mb-3 col">
                    <label for="exampleFormControlInput1" class="form-label">
                        First name
                    </label>
                    {{user_form.first_name}}
                </div>
                <div class="mb-3 col">
                    <label for="exampleFormControlInput1" class="form-label">
                        Last name
                    </label>
                    {{user_form.last_name}}
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="fa-solid fa-envelope"></i>
                    Username
                </label>
                {{user_form.username}}
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="fa-solid fa-lock"></i>
                    Password
                </label>
                {{user_form.password}}
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="fa-solid fa-star"></i>
                    Referral code
                </label>
                <input type="text" class="form-control" name="invite_code" id="invite_code">
            </div>

            <button class="btn btn-dark mx-auto d-block mb-3">
                <i class="fa-solid fa-user"></i>
                Create account
            </button>

            <!-- Login button -->
            <a href="{% url 'Login' %}" class="btn btn-outline-primary mx-auto d-block">
                Already have an account? Login
            </a>
        </form>
    </div>
</div>
 <!-- End sign up -->

{% endblock sheri %}
